<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sl.ylyy.app_1.dao.GroupMapper">
  <resultMap id="BaseResultMap" type="com.sl.ylyy.app_1.entity.Group">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="department_id" jdbcType="INTEGER" property="departmentId" />
    <result column="group_manager" jdbcType="INTEGER" property="groupManager" />
  </resultMap>
  <sql id="Base_Column_List">
    id, `name`, remark, department_id, group_manager
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from `group`
    where id = #{id,jdbcType=INTEGER}
  </select>

  <select id="selectGroupsByDepId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    id ,`name`,group_manager
    from `group`
    where department_id = #{departmentId,jdbcType=INTEGER}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from `group`
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.sl.ylyy.app_1.entity.Group">
    insert into `group` (id, `name`, remark,
      department_id,  group_manager
      )
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, 
      #{departmentId,jdbcType=INTEGER}, #{groupManager,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.sl.ylyy.app_1.entity.Group">
    insert into `group`
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        `name`,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="departmentId != null">
        department_id,
      </if>
      <if test="groupManager != null">
        group_manager,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="departmentId != null">
        #{departmentId,jdbcType=INTEGER},
      </if>
      <if test="groupManager != null">
        #{groupManager,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.sl.ylyy.app_1.entity.Group">
    update `group`
    <set>
      <if test="name != null">
        `name` = #{name,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="departmentId != null">
        department_id = #{departmentId,jdbcType=INTEGER},
      </if>
      <if test="groupManager != null">
        group_manager = #{groupManager,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sl.ylyy.app_1.entity.Group">
    update `group`
    set `name` = #{name,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      department_id = #{departmentId,jdbcType=INTEGER},
      group_manager = #{groupManager,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>